<div class="pcodedContent">
    <div class="pcodedInnerContent">
        <div class="pageBody">
            <div class="breadcrumbInfo">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-10">
                                <h4 class="page-title">CRM</h4>
                            </div>
                            <div class="col-sm-12 col-md-2 text-right">
                                <div class="headerCommon">
                                </div>
                            </div>
                        </div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javaScript:void();">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">CRM</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!---->
            <div class="commonTabbing">
                <div class="usersListing">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="usersList">
                                        <div class="row">
                                            <!---->

                                            <app-dashboard-widgets>
                                            </app-dashboard-widgets>
                                            <!-- <div class="search-results" infinite-scroll [infiniteScrollDistance]="4"
                                                (scrolled)="onScroll()">
                                            </div> -->

                                            <div class="col-sm-12">
                                                <div class="right-nav nav-left">
                                                    <button style="height: 33px;" (click)="addClient()"
                                                        mat-raised-button color="primary">Add New
                                                        Client</button>
                                                    <mat-tab-group>
                                                        <mat-tab label="Clients">
                                                            <app-client-list [result]="clients$|async">
                                                            </app-client-list>
                                                        </mat-tab>
                                                        <mat-tab label="Recipients">
                                                            <app-recipient-list>
                                                            </app-recipient-list>
                                                        </mat-tab>
                                                    </mat-tab-group>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!---->
        </div>
    </div>
    <!---->
</div>